<div class="amp-asana-container" style="width:100%;text-align: center; padding: 10px;" data-pid={{asana.projectid}} data-tid={{asana.taskid}}>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Asana_logo.svg/1280px-Asana_logo.svg.png" alt="Asana Logo" height="85" width="128">
    <div>
    <br />
    <h4>Click here to view task:</h4>
    <a href="https://app.asana.com/0/{{asana.projectid}}/{{asana.taskid}}/f" target="_blank">https://app.asana.com/0/{{asana.projectid}}/{{asana.taskid}}/f</a>
    </div>
    <br />
    <div id="asana" style="width:100%; max-width:800px; margin:auto;"></div>
</div>
