<div class="amp-ca-snippet js_ca_snippet">
    {{#each category}}
    <div class="amp-ca-category-container">
        <div class="amp-ca-category">{{this}}</div>
        <span class="line"></span>
    </div>
    {{/each}} {{#if blogdate}}
    <div class="amp-ca-blogdate">{{blogdate}}</div>
    {{/if}} 
     <ul class="post-tags tags">
        {{#each keywords}}
        <li class="post-tag tag"><span>{{this}}</span></li>
        {{/each}}
    </ul>
    {{#if image}}
    <div class="amp-ca-image">
        {{>image image}}
    </div>
    {{/if}} {{#if author}}
    <div class="amp-ca-author">{{author}}</div>
    {{/if}} {{#if title}}
    <div class="amp-ca-title">{{title}}</div>
    {{/if}} {{#if description}}
    <div class="amp-ca-description">{{description}}</div>
    {{/if}}
</div>