<div class="amp-ca-card amp-ca-card-{{add index 1}}">
    <div class="amp-ca-card-wrap">
        {{> image image }}
        <div class="amp-ca-card-text-wrap">
            {{#if cardName}}
            <div class="amp-ca-card-name">{{cardName}}</div>
            {{/if}} {{#if description}}
            <p class="amp-ca-card-description">{{description}}</p>
            {{/if}}
            <div class="amp-ca-card-link-container">
                {{#each links}}
                <div class="amp-ca-card-link-holder link">
                    <a class="amp-ca-card-link amp-ca-banner-button readMore {{#if ../style}}{{../style}}{{else}}black{{/if}}"  href="{{value}}">
                    {{#if label}}
                        {{label}}
                    {{else}}
                        >>
                    {{/if}}
                </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>