<section id="product" class="soundtouchsoundbar">
    {{#with img}}
        <div class="amp-ca-banner-pic-wrap">
            {{dynamicTemplate renderTypes.image renderTypes this}}
        </div>
    {{/with}}
    <article class="rightbox">
        {{#if new}}<div class="newlabel">NEW</div>{{/if}}
        <h3>{{header}}</h3>
        <h4>{{subheader}}</h4>

        <img src="https://currys-ssl.cdn.dixons.com/css/themes/Bose/img/Wifi-Bluetooth-Logo.png" alt="Bluetooth" />
        {{description}}
        {{#with button}}
        <a href="{{url}}" title="{{label}} {{../header}}">
            <button class="black">{{label}} <i class="icon-chevron-right"></i></button>
        {{/with}}
        </a>
    </article>
</section>