<a href="{{link.value}}" data-campaign-type="savings" title="{{#if actionName}}{{actionName}}{{else}}Shop{{/if}} {{#if promoName}}{{promoName}}{{else}}MEGA DEALS{{/if}} {{location}} {{category}}">{{#if actionName}}{{actionName}}{{else}}Shop{{/if}} <span>{{#if promoName}}{{promoName}}{{else}}MEGA DEALS{{/if}}</span> {{location}}
<div>{{category}} <i class="icon-chevron-right"></i></div>
</a>