<div class="amp-ca-dixonsBrandBlock">
<section id="product" class="soundtouchsoundbar">
    {{#with img}}
        <div class="amp-ca-banner-pic-wrap">
            {{>image this}}
        </div>
    {{/with}}

    <article {{#if alignment}}class="{{alignment}}box"{{else}}class="rightbox"{{/if}}>
        {{#if new}}<div class="newlabel">NEW</div>{{/if}}
        <h3>{{header}}</h3>
        <h4>{{subheader}}</h4>

        <img src="https://currys-ssl.cdn.dixons.com/css/themes/Bose/img/Wifi-Bluetooth-Logo.png" alt="Bluetooth" />
        {{#markdown}}{{description}}{{/markdown}}
        {{#with button}}
        <a href="{{url}}" title="{{label}} {{../header}}">
            <button class="black">{{label}} <i class="icon-chevron-right"></i></button>
        {{/with}}
        </a>
    </article>
</section>
</div>