<div class="amp-ca-dixonsBanner js_ca_banner {{#if bannerStyle}}{{bannerStyle}}{{else}}blue-purple{{/if}}">
    {{#with img}} {{#if this.image}}
    <div class="img-fill" style="background-image:url('//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?h=200');">
    </div>
    {{/if}} {{/with}}
    <div class="amp-ca-banner-info-wrap
    {{#if stackMobileLayout}}amp-ca-info-bottom{{/if}}
        {{#unless header}}
            {{#unless subheader}}
                {{#unless description}}
                    {{#unless button.label}}
                        amp-ca-hide
                     {{/unless}}
                {{/unless}}
            {{/unless}}
        {{/unless}}" data-align="{{#if alignment}}{{alignment}}{{else}}left{{/if}}">
        <div class="amp-ca-banner-info">
            {{#if header}}
            <div class="amp-ca-banner-header">{{header}}</div>
            {{/if}} {{#if subheader}}
            <div class="amp-ca-banner-subheader">{{subheader}}</div>
            {{/if}} {{#if description}}
            <div class="amp-ca-banner-description">{{description}}</div>
            {{/if}} {{#if button.label}}
            <a href="{{button.url}}" class="amp-ca-banner-button {{#if style}}{{style}}{{/if}}">{{button.label}}</a> {{/if}}
        </div>
    </div>
</div>