<div class="amp-ca-ellos-inspiration-block">
  {{#with titleimg}}
  <img src="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escape seoText}}{{/if}}?w=1600{{#compare display '==' 'Point of Interest'}}&$poi$&aspect=2.6:1{{/compare}}{{#roundelProperties}}&$roundel$&{{roundelConfig roundel}}{{/roundelProperties}}&upscale=false&fmt.jpeg.interlaced=true" srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escape seoText}}{{/if}}.webp?w=1600{{#compare display '==' 'Point of Interest'}}&$poi$&aspect=2.6:1{{/compare}}{{#roundelProperties}}&$roundel$&{{roundelConfig roundel}}{{/roundelProperties}}&upscale=false&fmt.jpeg.interlaced=true 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escape seoText}}{{/if}}.webp?w=3200{{#compare display '==' 'Point of Interest'}}&$poi$&aspect=2.6:1{{/compare}}{{#roundelProperties}}&$roundel$&{{roundelConfig roundel}}{{/roundelProperties}}&upscale=false&fmt.jpeg.interlaced=true 2x,
           //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escape seoText}}{{/if}}?w=1600{{#compare display '==' 'Point of Interest'}}&$poi$&aspect=2.6:1{{/compare}}{{#roundelProperties}}&$roundel$&{{roundelConfig roundel}}{{/roundelProperties}}&upscale=false&fmt.jpeg.interlaced=true 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escape seoText}}{{/if}}?w=3200{{#compare display '==' 'Point of Interest'}}&$poi$&aspect=2.6:1{{/compare}}{{#roundelProperties}}&$roundel$&{{roundelConfig roundel}}{{/roundelProperties}}&upscale=false&fmt.jpeg.interlaced=true 2x" class="amp-ca-image-pic" {{#if imageAltText}} alt="{{imageAltText}}" {{/if}} {{#if seoText}} title="{{seoText}}" {{/if}} />
  {{/with}}
  {{#if description}}
      <div class="amp-ca-ellos-description">{{description}}</div>
  {{/if}}

  {{#each images as |item|}}
      {{> mapping item }}
  {{/each}}
</div>
