<div class="amp-ca-banner js_ca_banner">
    <div class="amp-ca-banner-pic-wrap" data-aos="fade">
        <img src="//x1.adis.ws/v1/media/graphics/i/nmdemo/email-banner?{{#if backgroundimage}}&backgroundimage={{backgroundimage.name}}{{/if}}{{#if heading1}}&heading1={{heading1}}{{/if}}{{#if heading2}}&heading2={{heading2}}{{/if}}{{#if heading3}}&heading3={{heading3}}{{/if}}{{#if heading1color}}&heading1color={{{heading1color}}}{{/if}}{{#if heading2color}}&heading2color={{heading2color}}{{/if}}
{{#if heading3color}}&heading3color={{heading3color}}{{/if}}{{#if badgecopy1}}&badgecopy1={{badgecopy1}}{{/if}}{{#if badgecopy2}}&badgecopy2={{badgecopy2}}{{/if}}{{#if badgecopy3}}&badgecopy3={{badgecopy3}}{{/if}}{{#if badgecopy1color}}&badgecopy1color={{badgecopy1color}}{{/if}}{{#if cta}}&cta={{cta}}{{/if}}{{#if ctabgcolor}}&ctabgcolor={{ctabgcolor}}{{/if}}&qlt=90&fmt.jpeg.chroma=1,1,1" class="amp-ca-image-pic" style="width:100%; max-width: 700px; margin:auto; display:block" /> 
    </div>
</div>