<div class="amp-ca-landmark-offer" data-promo-id="{{analytics}}">
    {{#with link}}
        <a href="{{value}}">
    {{/with}}
    <!-- need to add in the picture tag for mobile -->
    <img src="https://x1.adis.ws/v1/media/graphics/i/landmarkpoc/landmark-hc-offer.jpg?fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&category={{category}}&offer={{offer}}&currency={{currency}}&type={{type}}&strap={{strap}}{{#with link}}&btn={{label}}{{/with}}">
    {{#with link}}
        </a>
    {{/with}}
</div>