<div class="landmark-image-template" data-promo-name="{{analytics}}">
    <div class="landmark-image-holder" data-aos="fade">
        <picture class="landmark-image">
            {{#with image}}
                <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}/{{escape (dashcase ../seoText)}}.webp?$main-banner-desk$" media="(min-width: 1367px)" type="image/webp">
                <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}/{{escape (dashcase ../seoText)}}?$main-banner-desk$" media="(min-width: 1367px)">
                <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}/{{escape (dashcase ../seoText)}}.webp?$main-banner-desk$" media="(min-width: 768px)" type="image/webp">
                <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}/{{escape (dashcase ../seoText)}}?$main-banner-desk$" media="(min-width: 768px)">
            {{/with}}
            {{#if mobimg}}
                {{#with mobimg}}
                <img src="https://{{defaultHost}}/i/{{endpoint}}/{{name}}/{{escape (dashcase ../seoText)}}?$main-banner-mob$" alt="{{../imageAltText}}" title="{{../seoText}}">
                {{/with}}
            {{else}}
                {{#with image}}
                    <img src="https://{{defaultHost}}/i/{{endpoint}}/{{name}}/{{escape (dashcase ../seoText)}}?$main-banner-mob$" alt="{{../imageAltText}}" title="{{../seoText}}">
                {{/with}}
            {{/if}}
        </picture>
    </div>
    <div class="landmark-text-container">
        {{#if (equalsLength links 1)}}
        <div class="landmark-main-banner-links">
            <a href="{{links.[0].value}}" class="split_banner_url"></a>
        </div>
        {{/if}}
        {{#if (equalsLength links 2)}}
        <div class="landmark-main-banner-links">
            <a href="{{links.[0].value}}" class="split_banner_url {{#if (isArabic)}}alignright{{else}}alignleft{{/if}}"></a>
            <a href="{{links.[1].value}}" class="split_banner_url {{#if (isArabic)}}alignleft{{else}}alignright{{/if}}"></a>
            
        </div>
        {{/if}}
    </div>
</div>