<div class="landmark-main-banner" data-promo-name="{{analytics}}">
    <div class="landmark-image-holder" data-aos="fade">
        <picture class="landmark-image">
            {{#with img}}
                {{#with image}}
                    <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}.webp?fliph={{isArabic}}&$main-banner-desk$" media="(min-width: 1367px)" type="image/webp">
                    <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}?{{#if isArabic}}fliph=true{{/if}}&$main-banner-desk$" media="(min-width: 1367px)">
                    <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}.webp?{{#if isArabic}}fliph=true{{/if}}&$main-banner-desk$" media="(min-width: 768px)" type="image/webp">
                    <source srcset="https://{{defaultHost}}/i/{{endpoint}}/{{name}}?{{#if isArabic}}fliph=true{{/if}}&$main-banner-desk$" media="(min-width: 768px)">
                {{/with}}
                {{#if mobimg}}
                    {{#with mobimg}}
                    <img src="https://{{defaultHost}}/i/{{endpoint}}/{{name}}?{{#if isArabic}}fliph=true{{/if}}&$main-banner-mob$">
                    {{/with}}
                {{else}}
                    {{#with image}}
                        <img src="https://{{defaultHost}}/i/{{endpoint}}/{{name}}?{{#compare ../display '==' 'Image Recognition Focal Point Face'}}&sm=aspect&$ir-poi-faces$&aspect=750:677{{/compare}}{{#compare ../display '==' 'Point of Interest'}}&sm=aspect&$poi$&aspect=750:677{{/compare}}{{#if isArabic}}&fliph=true{{/if}}&$main-banner-mob$">
                    {{/with}}
                {{/if}}
            {{/with}}
        </picture>
    </div>
    <div class="landmark-text-container">
        <div class="landmark-text-holder">
            {{#if header}}
            <div class="landmark-main-banner-header" style="{{#if headercol}}color:{{headercol}}{{/if}}" data-aos="fade-up" data-aos-delay="50">{{header}}</div>
            {{/if}}
            {{#if subheader}}
            <div class="landmark-main-banner-subheader" style="" data-aos="fade-up" data-aos-delay="125">{{subheader}}</div>
            {{/if}}
            {{#if (equalsLength links 1)}}
            <div class="landmark-buttons-holder">
                <div class="landmark-main-banner-button" data-aos="fade" data-aos-delay="250">{{links.[0].label}}</div>
            </div>
            {{/if}}
            {{#if (equalsLength links 2)}}
                <div class="landmark-buttons-holder">
                <div class="landmark-main-banner-button {{#if (isArabic)}}alignright{{else}}alignleft{{/if}}" data-aos="fade" data-aos-delay="250">{{links.[0].label}}</div>
                <div class="landmark-main-banner-button {{#if (isArabic)}}alignleft{{else}}alignright{{/if}}" data-aos="fade" data-aos-delay="250">{{links.[1].label}}</div>
            </div>
            {{/if}}

        </div>
        {{#if (equalsLength links 1)}}
        <div class="landmark-main-banner-links">
            <a href="{{links.[0].value}}" class="split_banner_url"></a>
        </div>
        {{/if}}
        {{#if (equalsLength links 2)}}
        <div class="landmark-main-banner-links">
            <a href="{{links.[0].value}}" class="split_banner_url {{#if (isArabic)}}alignright{{else}}alignleft{{/if}}"></a>
            <a href="{{links.[1].value}}" class="split_banner_url {{#if (isArabic)}}alignleft{{else}}alignright{{/if}}"></a>
            
        </div>
        {{/if}}
    </div>
</div>