

<!--{{{JSONstringify this}}}

EXTRA DATA HERE
{{{ getExtraData "currency" }}}
{{{ getExtraData "segment" }}} -->

{{#if (test this.[@type] (toRegex ".*/hero-block")) ~}}
    {{> hero-block }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/page")) ~}}
    {{> page }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/text-block")) }}
    {{> text-block }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/carousel")) ~}}
    {{> carousel }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/image-block")) ~}}
    {{> image-block }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/split-block")) ~}}
    {{> split-block }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/grid")) ~}}
    {{> grid }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/stack")) ~}}
    {{> stack }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/text")) ~}}
    <h1>segment texts:{{@root.segment}}</h1>
    {{> text }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/image$")) ~}}
    {{> image }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/banner")) ~}}
    {{> banner }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/video")) ~}}
    {{> video }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/splitBlock")) ~}}
    {{> splitBlock }}
{{/if}}

{{#if (test this.[@type] (toRegex "(.*/card$)|(.*/card.json)")) ~}}
    {{> card }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/cardList")) ~}}
    {{> cardList }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/externalBlock")) ~}}
    {{> externalBlock }}
{{/if}}

{{#if (test this.[@type] (toRegex "(.*/promo$)|(.*/promo.json)")) ~}}
    {{> promo }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/promoList")) ~}}
    {{> promoList }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/promotion")) ~}}
    {{> promotion }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/emailbanner")) ~}}
    {{> emailbanner }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/blogSnippet")) ~}}
    {{> blogSnippet }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/container")) ~}}
    {{> container }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/blog")) ~}}
    {{> blog }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/blogList")) ~}}
    {{> blogList }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/ugc")) ~}}
    {{> ugc }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/product")) ~}}
    {{> product }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/mrhiVariantBar")) ~}}
    {{> mrhiVariantBar }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/ellos-inspiration-1-block")) ~}}
    {{> ellos-inspiration-1-block }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/ellos-inspiration-1")) ~}}
    {{> ellos-inspiration-1 }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/container-slot")) ~}}
    {{> container-slot }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/flexible-slot")) ~}}
    {{> flexible-slot }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/banner-slot")) ~}}
    {{> banner-slot }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/mrhi-slot")) ~}}
    {{> mrhi-slot }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/wickes-brand-banner")) }}
    {{> wickes-brand-banner }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/imagelayerholder$")) }}
    {{> imagelayerholder }}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/landmark-offer")) }}
    {{#compare template '==' 'SVG1'}}
        {{> landmark-offer }}
    {{/compare}}
    {{#compare template '==' 'HTML1'}}
        {{> landmark-offer-html }}
    {{/compare}}
    {{#compare template '==' null}}
        {{> landmark-offer }}
    {{/compare}}
{{/if}}

{{#if (test this.[@type] (toRegex ".*/personalised-banner-slot")) }}
    <h1>segment:{{getExtraData "segment"}}</h1>
    {{#each segments}}
        {{#if (eq segment (getExtraData "segment"))}}
            {{> mapping this.content}}
        {{/if}}
    {{/each}}

{{/if}}

{{#if (test this.[@type] (toRegex ".*/landmark-main-banner")) }}
    {{>landmark-main-banner}}
{{/if}}



