<div class="amp-ca-ugc" data-amp-stream-name="{{stream}}" data-amp-hashtag="{{hashtag}}" data-amp-clientName="{{clientName}}" data-amp-total={{total}}>
	<div class="amp-ca-ugc-title">
		{{ header }}
	</div>
	<div class="amp-ca-ugc-description">
		{{ description }}
	</div>
    <div id="my-carousel"></div>
    <div id="amp-upload-section"></div>
</div>
